
@{
    Layout = null;
    //ViewBag.Title = "Calculadora";
}

    

<h2>Calculadora</h2>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calculadora</title>

    <link href="~/Content/css/calculadora.css" rel="stylesheet" />
    

</head>
    <body>
        <div class="container">
            <div class="output">
                <input type="text" class="display" id="result" placeholder="0" disabled>
            </div>
            <div class="delete">
                <button name="delete">C</button>
                <h1>Luis Valdez</h1>
            </div>
            <div class="buttons">
                <button name="number">1</button>
                <button name="number">2</button>
                <button name="number">3</button>
                <button name="operation">+</button>
                <button name="number">4</button>
                <button name="number">5</button>
                <button name="number">6</button>
                <button name="operation">-</button>
                <button name="number">7</button>
                <button name="number">8</button>
                <button name="number">9</button>
                <button name="operation">*</button>
                <button name="number">0</button>
                <button name="number">.</button>
                <button name="equal">=</button>
                <button name="operation">/</button>
            </div>
        </div>

        <script src="~/Scripts/codcalcu/codcalculadora.js"></script>

    </body>    
</html>
